//
   Created by Lollypop on 06.12.2015.
h2 {{post.title}}
.container {{post.text}}
p
   | Are you sure you want to delete this post?
   button(ng-click='deletePost()') Yes
   |  -
   button(ng-click='home()') No thanks
