//
   Created by Lollypop on 06.12.2015.
h2.blog-post-title.text-center Edit post
form.form-horizontal( role="form" ng-submit='editPost()' )
   .form-group
      label(for='title') Title:
      input.form-control( type='text' ng-model='form.title' name='title')
   .form-group
      label(for='category') Category:
      input.form-control( type='text' ng-model='form.category' name='category')
   .form-group
      label(for='body') Body:
      textarea.form-control( ng-model='form.body' name='body' rows="25" )
   .form-group
      label(for='excerption') Excerption:
      textarea.form-control( ng-model='form.excerption' name='excerption' rows="10" )
   .form-group
      label(for='image') Image:
      input(type='file' file-model="myFile" name='image'  accept='image/*')
   .form-group
      input(type='submit' value="Edit Post")


