//
   Created by Lollypop on 04.11.2015.

div(ng-repeat='post in posts')
    div.category
        a(href='/posts/category/{{post.category}}') {{post.category}}
    div.posttitle
        h1 {{post.title}}
    div.date
        h2 {{post.date}}
    div.image
        image(ng-src='{{post.image.path}}')
    div.short
        p {{post.excerption}}
    div.links
        a(href='/readPost/{{post._id}}') Read post
        a(href='/editPost/{{post._id}}') Edit post
        a(href='/deletePost/{{post._id}}') Delete post
