.blog-post
    h2.blog-post-title {{post.title}}
    p.blog-post-meta {{post.date}}
    p
        h3 {{post.category}}
    image.img-responsive(ng-src='{{post.image.path}}')
    p.lead {{post.body}}
nav
    ul.pager
        li
            a(href='/editPost/{{post._id}}') Edit post
        li
            a(href='/deletePost/{{post._id}}') Delete post
