<h2 class="blog-post-title text-center">Write a new post</h2>
<form role="form" ng-submit="submitPost()" class="form-horizontal">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" ng-model="form.title" name="title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <select ng-model="form.category" name="category" >
            <option ng-repeat="cat in categories">{{cat.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea ck-Editor ng-model="form.body" name="body" rows="25" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="excerption">Excerption:</label>
        <textarea ck-Editor  ng-model="form.excerption" name="excerption" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit Post"/>
    </div>
</form>
<!-- <div ng-include="" src="'views/imagebar.html'"></div> -->