<form name="image" ng-controller="imageCtrl" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" file-model="myFile" name="image" accept="image/*"/>
    </div>

    <div class="form-group">
        <button ng-click="submitImage()" >
            Submit image
        </button>
    </div>
    <div class="form-group">
        <button ng-click="deleteImage()" >
            Delete image
        </button>
    </div>
    <image ng-show="srcImage" ng-src="{{srcImage}}" class="img-responsive img-rounded"></image>
</form>
