<div class="blog-masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <nav class="blog-nav" ng-controller="navBlogCtrl">
                    <a href="/" class="blog-nav-item" ng-class="getClass('/')">Home</a>
                    <a href="/about" class="blog-nav-item" ng-class="getClass('/about')">About</a>
                    <a href="/signOn" class="blog-nav-item" ng-class="getClass('/signOn')">Sign ON</a>
                    <a href="/signIn" class="blog-nav-item" ng-class="getClass('/signIn')">Log IN</a>
                    <a ng-show="currentUser.nickname" href="/dashboard/{{currentUser.nickname}}" class="blog-nav-item" ng-class="getClass('/dashboard/'+currentUser.nickname)">My articles</a>
                </nav>
            </div>
            <div class="col-md-4 inf-panel" ng-controller="LogOutCtrl" ng-show="currentUser.nickname">
                <div class="row inf-panel">
                <span  class="col-md-6 ">Hello , <em style="color:#98FB98">{{currentUser.nickname}}</em></span>
                <span  class="col-md-4 logOut " ng-click="logout()"><span class="fa fa-sign-out"></span>Log Out</span>
                </div>
            </div>
        </div>
    </div>
</div>