<h2>Sign On</h2>
<form ng-submit="signOn()" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" ng-model="form.login" name="login" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" ng-model="form.password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="nickname">Nickname</label>
        <input type="text" ng-model="form.nickname" name="nickname" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ng-model="form.email" name="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="date_of_birth">Date of birth</label>
        <input type="date" ng-model="form.date_of_birth" name="date_of_birth" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="sex">Sex</label>
        <input type="text" ng-model="form.sex" name="sex" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Enter"/>
    </div>
</form>