doctype html
html(ng-app='blog')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        title BestBLog
        base(href='/')

        script(src='/javascripts/jquery-1.11.3.js')
        script(src='/angular/angular.js')
        script(src='/angular-route/angular-route.js')
        script(src='/javascripts/directives.js')
        script(src='/javascripts/blog.js')
        script(src='/javascripts/controllers.js')
        script(src='/bootstrap/js/bootstrap.js')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/blog.css')
    body
        .blog-masthead
            .container
                nav.blog-nav
                    a.blog-nav-item.active(href='/') Home
                    a.blog-nav-item(href='#') About
                    a.blog-nav-item(href='#') Contacts
                    a.blog-nav-item(href='/signIn') Sign IN
                    a.blog-nav-item(href='/addPost') Add a new post
        .container(ng-view)

