doctype html
html(ng-app='blog')
    head
        title= BestBLog
        script(src='/angular/angular.js')
        script(src='/angular-route/angular-route.js')
        script(src='/javascripts/directives.js')
        script(src='/javascripts/blog.js')
        script(src='/javascripts/controllers.js')
        base(href='/')
    body
        block content
