//
   Created by Lollypop on 04.11.2015.

extends layout
block content
    script(src='/javascripts/jquery-1.11.3.js')
    script(src='/javascripts/post.js')
    div.mainblock
        div.postblock
            div.post
                div.posttitle
                    h1=post[0].title
                div.body
                    p=post[0].body
                div.links
                    a(href='http://blog388.herokuapp.com/posts/') All posts
                    a(href='http://blog388.herokuapp.com/posts/create?id=' + post[0].id) Updete post
                    label.delete(id=post[0].id) Delete post
                div.alert
