//
   Created by Lollypop on 04.11.2015.
extends layout
block content
    script(src='/javascripts/jquery-1.11.3.js')
    script(src='/javascripts/post.js')
    div.mainblock
        div.postblock
                each post in posts
                    div.post(id=post.id)
                        div.posttitle
                            h1=post.title
                        div.short
                            p=post ? post.excerption : ''
                        div.links
                            a(href='http://blog388.herokuapp.com/posts/' + post.id) Read post
                            a(href='http://blog388.herokuapp.com/posts/create?id=' + post.id) Updete post
                            label.delete(id=post.id) Delete post
        div.newpost
            a(href='http://agile-headland-3332.herokuapp.com/posts/create') New post